@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background: #e7e7e7;
  max-width: 100vw;
  min-height: 100vh;
}

main .section1 {
  width: 100vw;
  height: calc(100vh + 8.5rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .title {
  display: flex;
  flex-direction: column;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  padding-top: 19rem;
  padding-left: 16.5rem;
  letter-spacing: 0.1rem;
  color: #242426;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
}

main .title span {
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
}

main .title .english {
  font-size: 5vw;
}

main .image {
  display: flex;
  flex-direction: column;
  padding-top: 22.4rem;
}

main .image .banner {
  width: 60.83vw;
  height: 66.66vh;
  background-image: url(/img/candle-making.jpeg);
  background-position: center;
  background-size: cover;
}

main .image .small-img {
  width: 23.5vw;
  height: 34vh;
  margin-left: -17.5rem;
  margin-top: -9.5rem;
  background-image: url(/img/freepik3.jpeg);
  background-position: center;
  background-size: cover;
  z-index: 1;
  /* position: absolute;
  left: 33%;
  bottom: 59%; */
}

main .course .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  margin-top: 14rem;
  /* margin-bottom: 5rem; */
  padding: 0 5rem;
}

main .course .tabs a {
  text-decoration: none;
  color: #242426;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0313rem;
  font-size: 1.3rem;
}

main .course .tabs .tab {
  margin-left: 4rem;
}

main .course .tabs .tab:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

main .course .tabs .tab:hover:after {
  width: 100%;
}

.course .cards .row {
  padding: 5rem;
}

.course .cards .row .col-4 {
  margin-bottom: 5rem;
}

main .course .cards a {
  text-decoration: none;
}

main .course .cards .card {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0313rem;
  color: #242426;
  background: transparent;
}

main .course .cards .card .text-muted {
  color: #999999;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

main .course .cards .card:hover {
  color: #424242;
}

main .course .cards .card .fee-and-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.3rem;
}

main .course .cards .card .fee-and-cart span {
  font-size: 1.4rem;
  margin-right: 1rem;
}

main .course .cards .card .fee-and-cart i {
  font-size: 1.3rem;
}

main .course .cards .card .fee-and-cart i {
  cursor: pointer;
}

main .course .cards .card .fee-and-cart i:hover {
  color: #424242;
}

/* 1490px */
@media (max-width: 1490px) {
  main .title {
    padding-left: 6.5rem;
  }

  main .image .banner {
    width: 70vw;
    height: 70vh;
  }

  main .image .small-img {
    width: 25vw;
    height: 29vh;
    margin-left: -15.5rem;
  }
}

/* 1096px */
@media (max-width: 1096px) {
  main .image .banner {
    width: 76vw;
  }

  main .image .small-img {
    width: 35vw;
    margin-top: -13rem;
  }
}

/* 991px */
@media (max-width: 991px) {
  main .course .tabs .tab {
    margin-left: 3rem;
  }

  main .course .tabs a {
    font-size: 1.2rem;
  }

  main .course .cards .card .text-muted {
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 1rem;
  }

  main .course .cards .card .fee-and-cart span {
    font-size: 1rem;
  }

  main .course .cards .card .fee-and-cart i {
    font-size: 1rem;
  }
}

/* 936px */
@media (max-width: 936px) {
  main .section1 {
    width: 100vw;
    height: 100vh;
  }

  main .image .small-img {
    display: none;
  }

  main .title {
    padding-top: 17rem;
    padding-left: 5.5rem;
  }

  main .course .tabs {
    margin-top: 0rem;
  }

  main .image .banner {
    height: 50vh;
    width: 90vw;
  }
}

/* 690px */
@media (max-width: 690px) {
  main .section1 {
    display: block;
    margin-bottom: 0;
    height: 80vh;
  }

  main .title {
    padding-top: 9rem;
  }

  main .image {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  main .image .banner {
    width: 90vw;
    height: 39vh;
  }
}

/* 669px */
@media (max-width: 669px) {
  main .section1 {
    height: 75vh;
  }

  main .course .tabs a {
    font-size: 0.9rem;
}

main .course .tabs {
  padding: 0 2rem;
}

.course .cards .row {
  padding: 2rem;
}

.card-title {
  font-size: 0.8rem;
}

main .course .cards .card .fee-and-cart {
  margin-top: 0.5rem;
  font-size: 1rem;
}

main .course .cards .card .fee-and-cart i {
  font-size: 0.7rem;
}

main .course .cards .card .text-muted {
  font-size: 0.7rem;
}
}

/* 375px */
@media screen and (max-width: 375px) {
  .section1 {
    height: 100vh;
    display: flex;
    justify-content: none;
    flex-direction: column;
  }

  .section1 .title {
    padding: 4rem 0rem 0rem 1rem;
  }

  .section1 .title span {
    font-size: 1rem;
  }

  .section1 .title .english {
    font-size: 2rem;
  }

  .section1 .image {
    padding-top: 3rem;
  }

  .image .banner {
    width: 100vw;
    z-index: 1;
  }

  .image .small-img {
    display: none;
  }

  .course .tabs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
  }

  .course .tabs a {
    font-size: 1rem;
  }

  .course .tabs .tab {
    margin-left: 0rem;
  }

  .course .cards {
    padding: 2rem 1rem;
  }

  .course .cards .row .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .course .cards .card {
    width: 100vw;
    height: 47vh;
    margin-right: 0rem;
    margin-bottom: 7rem;
  }

  .course .cards .card .img {
    width: 100%;
  }
}