@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.25rem 6.25rem;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

header img {
  width: 4vw;
}

header .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar li {
  list-style: none;
  margin-left: 2.5rem;
}

header .navbar li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9375rem;
  color: #242426;
  letter-spacing: 0.0313rem;
}

header .navbar li .nav-item:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

header .navbar li .nav-item:hover:after {
  width: 100%;
}

header .navbar li .icon {
  font-size: 1.3rem;
}

header .navbar li .user {
  margin-left: 11.4375rem;
}

header .navbar li .cart {
  margin-right: 0.9375rem;
}

#home {
  min-height: 100vh;
  background-color: #e7e7e7;
  position: relative;
}

#home .imgs {
  position: relative;
}

#home .imgs .left .img {
  display: inline-block;
  width: 22.6875rem;
  height: 90vh;
  background-color: grey;
  background-image: url(/img/xmas_tree.jpeg);
  background-size: cover;
  background-position: center;
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-transition-timing-function: cubic-bezier(0.48, 0.18, 0.47, 1);
  transition-timing-function: cubic-bezier(0.48, 0.18, 0.47, 1);
}

#home .imgs .right .top-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 20.6992rem;
  height: 13.8311rem;
  background-image: url(/img/white-candle.jpeg);
  background-size: cover;
  background-position: 50% 19%;
}

#home .imgs .right .bottom-block {
  position: absolute;
  right: 0;
  top: 38%;
  width: 31.5rem;
  height: 20.5644rem;
  background-color: #f7f7f7;
}

#home .imgs .right .bottom-block .text {
  height: 18vh;
  padding: 2.5rem 3.625rem;
  letter-spacing: 0.0313rem;
  font-size: 1rem;
  color: #424242;
  font-family: sans-serif;
}

#home .imgs .right .bottom-block .bottom-carousel .imgs {
  position: absolute;
  width: 35vw;
  height: 22.7rem;
  background-color: #f7f7f7;
}

#home .texts .big-text {
  position: absolute;
  top: 35%;
  left: 22%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 162px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: #242426;
}

#home .texts .small-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 57%;
  left: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.4rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0625rem;
  line-height: 2.5rem;
  color: #242426;
}

#home .texts .scroll-to-discover {
  position: relative;
}

#home .texts .scroll-to-discover span {
  position: absolute;
  color: #424242;
  top: -7.75rem;
  left: 35%;
  font-family: sans-serif;
  letter-spacing: 0.0313rem;
}

#home .texts .scroll-to-discover .icon {
  margin-right: 0.4375rem;
}

#about-us {
  min-height: 100vh;
  position: relative;
}

#about-us .left-img {
  position: absolute;
  bottom: 1%;
  width: 13.0119rem;
  height: 21.1875rem;
  background-image: url(/img/glass-vase.jpg);
  background-size: cover;
  background-position: center;
}

#about-us .right-img {
  position: absolute;
  bottom: -9%;
  right: 14%;
  width: 19.1875rem;
  height: 24.8125rem;
  background-image: url(/img/pink-flower.jpg);
  background-size: cover;
  background-position: center;
}

#about-us .about-us {
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 47.5rem;
  height: 40rem;
  background-color: #e8e8e8;
  padding: 3.625rem 4.6875rem;
  font-family: "Times New Roman", Times, serif;
  color: #242426;
  letter-spacing: 0.2rem;
}

#about-us .about-us h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.05rem;
}

#about-us .about-us .title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

#about-us .about-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

#about-us .about-us .intro,
#about-us .about-us .services {
  margin-bottom: 2rem;
}

#about-us .about-us .english {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

#about-us .about-us .numbers {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
}

#courses {
  min-height: 33vh;
  position: relative;
  padding: 1.25rem 6.25rem;
}

#courses .colour-block {
  position: absolute;
  top: 4rem;
  width: 36rem;
  height: 15.7568rem;
  background-color: #e8e8e8;
}

#courses h2 {
  position: absolute;
  top: 50%;
  left: 20.5%;
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: 4rem;
  margin-bottom: 1.8rem;
}

#course-info {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

#course-info .course {
  position: relative;
  width: 76.75rem;
  height: 41rem;
  background-color: #c4cbda;
}

#course-info .course .course-content {
  width: 35rem;
  height: 34rem;
  padding: 5.25rem 3.75rem 2.1875rem 5.6875rem;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: #242426;
  letter-spacing: 0.1rem;
}

#course-info .course .course-content .course-title {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

#course-info .course .course-content .course-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

#course-info .course .course-content .course-fee {
  font-size: 1.1rem;
}

#course-info .course .course-content .english,
#course-info .course .course-content .numbers {
  font-family: "Cormorant Garamond", serif;
}

#course-info .course .course-content .numbers {
  font-size: 1.3rem;
}

#course-info .course .course-content a {
  text-decoration: none;
  color: #242426;
}

#course-info .course .course-content .add-to-cart {
  margin-top: 3.5rem;
  background: #242426;
  display: inline-block;
  padding: 0.9375rem 1.5625rem;
  border-radius: 1.875rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0.3125rem 1.25rem rgba(61, 61, 61, 0.05);
  box-shadow: 0 0.3125rem 1.25rem rgba(61, 61, 61, 0.05);
  color: #f7f7f7;
}

#course-info .course .course-content .add-to-cart .icon {
  margin-left: 2rem;
}

#course-info .course .course-content .add-to-cart:hover {
  letter-spacing: 0.1875rem;
}

#course-info .course .course-img {
  width: 42.2119rem;
  height: 32.8rem;
  background-image: url(/img/master-class.jpeg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
}

#course-info .course .learn-more {
  position: absolute;
  right: 10%;
  bottom: 10%;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-family: "Cormorant Garamond", serif;
}

#course-info .course .learn-more .icon {
  font-size: 0.8rem;
}

#course-info .course .learn-more:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

#course-info .course .learn-more:hover:after {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */

/* 聖筑的 index css */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#shop {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#shop .shop {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

#shop .shop h2 {
  font-size: 3.125rem;
}

#shop .shop div {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#shop .shop div span {
  font-size: 1.25rem;
  padding: 1rem;
}

#shop .gray {
  width: 25%;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: -5%;
  background: #999999;
  opacity: 0.3;
  z-index: -1;
}

#shop .gray h2 {
  color: white;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  top: 25%;
  left: -40%;
}

#shop .shopping-item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.4375rem;
  margin-left: 10rem;
}

#shop .shopping-item div {
  margin-right: 3rem;
}

#shop .shopping-item div img {
  width: 430px;
  height: 430px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#shop .shopping-item div h3 {
  margin-top: 1.5rem;
}

#shop a {
  color: #000;
  text-decoration: none;
  font-size: 1.25rem;
  position: absolute;
  right: 10%;
  display: inline-block;
  margin-top: 10rem;
}

#shop a:hover {
  color: #999999;
}

#blog {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#blog .article {
  width: 50%;
}

#blog .article div {
  padding: 1.5rem 0rem;
  border-bottom: 0.125rem solid gray;
}

#blog .article div:first-child {
  border-top: 0.125rem solid gray;
}

#blog .article div:last-child {
  margin-bottom: 6.25rem;
}

#blog .article div span {
  color: #999999;
}

#blog .article div h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#blog .article a {
  display: inline-block;
  margin-top: 6.25rem;
  color: #000;
  text-decoration: none;
  font-size: 1.25rem;
}

#blog .article a:hover {
  color: #999999;
}

#blog .new {
  width: 30%;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
}

footer .container {
  margin: 0 6.25rem;
}

footer .container .footer-up {
  width: 100%;
  height: 40.625rem;
  margin-top: 5rem;
  padding: 4.9375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer-up .contact {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .container .footer-up .contact h3 {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

footer .container .footer-up .contact h2 {
  margin: 5rem 0rem 1.4rem;
  font-size: 1.25rem;
}

footer .container .footer-up .contact p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
}

footer .container .footer-up .address {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .container .footer-up .address h3 {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
}

footer .container .footer-up .address h2 {
  margin: 5rem 0rem 0.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}

footer .container .footer-up .address p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
  font-weight: 500;
}

footer .container .footer-up .transport {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

footer .container .footer-up .transport h3 {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
}

footer .container .footer-up .transport h2 {
  margin: 5rem 0rem 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

footer .container .footer-up .transport .train {
  margin: 3.5rem 0rem 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

footer .container .footer-up .transport p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
  font-weight: 500;
  width: 14.3125rem;
}

footer .container .footer-up .img {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  width: 43.75rem;
}

footer .container .footer-up .img img {
  width: 23%;
  position: absolute;
  top: 8%;
  right: 17.5%;
}

footer .container .footer-up .img iframe {
  margin-top: 6rem;
}

footer .footer-mid {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-mid h3 {
  /* -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; */
  color: #242426;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
}

footer .footer-mid h3 {
  /* -webkit-box-flex: 1;
  -ms-flex: 1; */
  /* display: flex; */
}

footer .footer-mid p {
  /* -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4; */
  margin-left: 7.4rem;
  color: #242426;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
}

footer .footer-mid .weekends {
  margin-left: 3.8125rem;
}

footer .footer-down {
  width: 100%;
  height: 240px;
  background-color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

footer .footer-down .top {
  margin: 5rem 0rem 0rem 6.875rem;
  border: 2px solid white;
  border-radius: 50% / 50%;
  text-decoration: none;
  color: white;
  padding: 1.25rem 2.25rem;
  position: absolute;
  top: 0;
  left: 0;
}

footer .footer-down .top:hover {
  border: 2px solid #ffaf7b;
  color: #ffaf7b;
}

footer .footer-down h3 {
  color: white;
}

footer .footer-down .follow {
  width: 30.3125rem;
  height: 14.375rem;
  background-color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -4rem;
  right: 7rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  /* padding: 0 100px; */
}

footer .footer-down .follow h4 {
  /* margin-right: 2rem;
  margin-left: 7.4rem; */
  color: #242426;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
}

footer .footer-down .follow a {
  text-decoration: none;
  margin-left: 3.125rem;
}

footer .footer-down .follow a i {
  /* margin-right: 2rem; */
  font-size: 1.875rem;
  color: #898F9E;
}

footer .footer-down .follow a i.fa-facebook-square:hover {
  color: #0675E8;
}

footer .footer-down .follow a i.fa-instagram:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b));
  background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
  background: -webkit-linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*# sourceMappingURL=index.css.map */