@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

header {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100vw;
  padding: 1.25rem 6.25rem;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

header img {
  width: 4.5vw;
}

header .navbar-middle {
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

header .navbar-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar-middle li {
  list-style: none;
  margin-left: 2.5rem;
}

header .navbar-right li {
  list-style: none;
  margin-left: 2.5rem;
}

header .navbar-middle li a {
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  color: #242426;
  letter-spacing: 0.0313rem;
}

header .navbar-right li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  color: #242426;
  letter-spacing: 0.0313rem;
}

header .navbar-middle li .nav-item:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

header .navbar-middle li .nav-item:hover:after {
  width: 100%;
}

header .navbar-right li .nav-item:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

header .navbar-right li .nav-item:hover:after {
  width: 100%;
}

header .navbar-right li .icon {
  font-size: 1.3rem;
}

/* home */
#home {
  height: 100vh;
  background-color: #e7e7e7;
}

#home .imgs {
  display: flex;
  justify-content: space-between;
}

#home .imgs .left .img {
  width: 26vw;
  height: 90vh;
  background-image: url(/img/xmas_tree.jpeg);
  background-size: cover;
  background-position: center;
  /* -webkit-transition: 5s;
  transition: 5s;
  -webkit-transition-timing-function: cubic-bezier(0.48, 0.18, 0.47, 1);
  transition-timing-function: cubic-bezier(0.48, 0.18, 0.47, 1); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .imgs .left .img .big-text {
  font-size: 12rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: #242426;
  /* position: absolute;
  left: 89%;
  top: 27%; */
}

#home .imgs .left .img .small-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2.4rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0625rem;
  line-height: 2.5rem;
  color: #242426;
  /* position: absolute;
  left: 89%;
  top: 27%; */
}

#home .imgs .left .img .scroll-to-discover {
  margin-top: 4rem;
  color: #424242;
  font-family: sans-serif;
  letter-spacing: 0.0313rem;
  /* position: absolute;
  left: 89%;
  top: 27%; */
}

#home .imgs .left .img .scroll-to-discover span i {
  color: #888888;
}

#home .imgs .left .img .scroll-to-discover .icon {
  margin-right: 0.4375rem;
}

#home .imgs .right {
  position: relative;
  height: 100vh;
}

#home .imgs .right .top-img {
  width: 23vw;
  height: 30vh;
  background-image: url(/img/white-candle.jpeg);
  background-size: cover;
  background-position: 50% 19%;
  position: absolute;
  right: 0;
}

#home .imgs .right .bottom-img {
  width: 35vw;
  height: 60vh;
  background-image: url(/img/shop-item1.jpeg);
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* about us */
#about-us {
  height: 100vh;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about-us .left-img {
  width: 13vw;
  height: 28vh;
  background-image: url(/img/glass-vase.jpg);
  background-size: cover;
  background-position: center;
}

#about-us .right-img {
  width: 17vw;
  height: 34vh;
  background-image: url(/img/pink-flower.jpg);
  background-size: cover;
  background-position: center;
}

#about-us .about-us {
  width: 51rem;
  height: 42rem;
  background-color: #e8e8e8;
  font-family: "Times New Roman", Times, serif;
  color: #242426;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

#about-us .about-us h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.05rem;
}

#about-us .about-us .title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

#about-us .about-us .content {
  font-size: 0.9rem;
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
}

#about-us .about-us .intro,
#about-us .about-us .services,
#about-us .about-us .skills {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#about-us .about-us .english {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

#about-us .about-us .numbers {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
}

/* courses */
#courses .colour-block {
  width: 30vw;
}

#courses .colour-block .block {
  width: 30vw;
  height: 25vh;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#courses .colour-block .block span {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

#course-info {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

#course-info .course {
  position: relative;
  width: 68vw;
  height: 64vh;
  background-color: #c4cbda;
}

#course-info .course .course-content {
  width: 29vw;
  max-height: 64vh;
  padding: 5.25rem 3.75rem 2.1875rem 5.6875rem;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  color: #242426;
  letter-spacing: 0.1rem;
}

#course-info .course .course-content .course-title {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

#course-info .course .course-content .course-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

#course-info .course .course-content .course-fee {
  font-size: 1.1rem;
}

#course-info .course .course-content .english,
#course-info .course .course-content .numbers {
  font-family: "Cormorant Garamond", serif;
}

#course-info .course .course-content .numbers {
  font-size: 1.3rem;
}

#course-info .course .course-content a {
  text-decoration: none;
  color: #242426;
}

#course-info .course .course-content .add-to-cart {
  margin-top: 3.5rem;
  background: #242426;
  display: inline-block;
  padding: 0.9375rem 1.5625rem;
  border-radius: 1.875rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0.3125rem 1.25rem rgba(61, 61, 61, 0.05);
  box-shadow: 0 0.3125rem 1.25rem rgba(61, 61, 61, 0.05);
  color: #f7f7f7;
}

#course-info .course .course-content .add-to-cart .icon {
  margin-left: 2rem;
}

#course-info .course .course-content .add-to-cart:hover {
  letter-spacing: 0.1875rem;
}

#course-info .course .course-img {
  width: 37vw;
  height: 49vh;
  background-image: url(/img/master-class.jpeg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
}

#course-info .course .learn-more {
  position: absolute;
  right: 8%;
  bottom: 10%;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-family: "Cormorant Garamond", serif;
}

#course-info .course .learn-more .icon {
  font-size: 0.8rem;
}

#course-info .course .learn-more:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

#course-info .course .learn-more:hover:after {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */

/* 聖筑的 index css */
/* .banner {
  width: 100vw;
  height: 30vh;
  background-color: grey;
} */

/* shop */
#shop {
  width: 100vw;
  height: 60vh;
}

.shop {
  display: flex;
}

/* #shop .shop {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
} */

/* #shop .shop div {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
} */

/* #shop .shop div span {
  font-size: 1.25rem;
  padding: 1rem;
} */

#shop .shop .left {
  width: 20.5vw;
  height: 60vh;
}

#shop .shop .left .gray {
  width: 20.5vw;
  height: 60vh;
  background: #DDDEDE;
  z-index: -1;
}

#shop .shop .right {
  width: 80vw;
  height: 60vh;
}

#shop .shop .right-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop .right .right-center .title h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #242426;
  margin: 0rem 0 2rem 0;
  margin-top: 0.5rem;
}

/* #shop .gray h2 {
  color: white;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  top: 25%;
  left: -40%;

  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin-left: 6.25rem;
  position: absolute;
  font-weight: 600;
  top: 10rem;
  color: #242426;
} */

#shop .shopping-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

#shop .shopping-items .shopping-item {
  margin-left: 1rem;
  margin-bottom: 4rem;
}

#shop .shopping-items div .img {
  width: 19vw;
  height: 29vh;
  background-position: center;
  background-size: cover;
}

#shop .shopping-items div h3 {
  margin-top: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  letter-spacing: 0.0563rem;
  font-size: 1rem;
  color: #242426;
}

#shop .shop .right-left {
  margin-left: 1rem;
}

#shop a {
  display: inline-block;
  color: #242426;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0313rem;
}

#shop a i {
  font-size: 0.8rem;
  margin-left: 0.3125rem;
  color: #242426;
}

#shop a:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

#shop a:hover:after {
  width: 100%;
}

/* news */
#blog {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
}

#blog .left {
  width: 20vw;
  height: 46vh;
}

#blog .right {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

#blog .left .img {
  width: 21vw;
  height: 51vh;
  background-image: url(/img/vase-and-candles.jpeg);
  background-position: 50% 99%;
  background-size: cover;
}

#blog .article {
  width: 42vw;
  height: 40vh;
  font-family: sans-serif;
  letter-spacing: 0.0313rem;
}

#blog .article div {
  padding: 2.5rem 0rem;
  border-bottom: 0.1rem solid #242426;
}

#blog .article div:first-child {
  border-top: 0.1rem solid #242426;
}

#blog .article div:last-child {
  margin-bottom: 6.25rem;
}

#blog .article div span {
  color: #242426;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}

#blog .article div h2 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#blog .article div p {
  font-weight: 300;
}

#blog .article div:hover {
  color: #777777;
}

#blog .article a {
  display: inline-block;
  margin-top: 5.25rem;
  color: #242426;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0313rem;
}

#blog .article i {
  display: inline-block;
  color: #242426;
  font-size: 0.8rem;
  margin-left: 0.3125rem;
}

#blog .article a:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

#blog .article a:hover:after {
  width: 100%;
}

#blog .right .news {
  font-weight: bolder;
  font-size: 4rem;
  letter-spacing: 0.0313rem;
  color: #242426;
  padding: 0 2rem;
}

/* footer */
footer {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  /* position: relative; */
}

footer .container {
  padding: 0 6.25rem;
}

footer .container .footer-up {
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer-up .contact {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .container .footer-up .contact h3 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

footer .container .footer-up .contact p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
}

footer .container .footer-up .address {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .container .footer-up .address h3 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

footer .container .footer-up .address h2 {
  margin: 0 0 0.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}

footer .container .footer-up .address p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
  font-weight: 500;
}

footer .container .footer-up .transport {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

footer .container .footer-up .transport h3 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

footer .container .footer-up .transport h2 {
  margin: 0 0 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

footer .container .footer-up .transport .train {
  margin: 3.5rem 0rem 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

footer .container .footer-up .transport p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.0375rem;
  color: #242426;
  font-family: sans-serif;
  font-weight: 500;
  width: 14rem;
}

footer .container .footer-up .img {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

footer .container .footer-up .img img {
  width: 23vw;
}

footer .container .footer-up .img iframe {
  margin-top: 5rem;
  width: 23vw;
  height: 26vh;
}

footer .footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0 6rem 0;
  width: 45vw;
}

footer .footer-mid h3 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #242426;
  letter-spacing: 0.0313rem;
  font-weight: 500;
  flex: 1;
}

footer .footer-mid p {
  color: #242426;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.0375rem;
  font-family: sans-serif;
}

footer .footer-mid .weekdays {
  flex: 1;
}

footer .footer-mid .weekends {
  flex: 1;
}

footer .footer-down {
  width: 100vw;
  height: 30vh;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  letter-spacing: 0.0313rem;
  padding: 0 6.25rem;
}

footer .footer-down .top {
  border: 0.0313rem solid #FFFFFF;
  border-radius: 50%;
  text-decoration: none;
  color: #FFFFFF;
  padding: 1.25rem 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin: 8rem 0 0 6.25rem;
}

footer .footer-down .top i {
  margin-left: 0.1rem;
  font-size: 0.8rem;
}

footer .footer-down .top i:hover {
  color: #B5B5B5;
}

footer .footer-down h3 {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

footer .footer-down .follow {
  width: 26vw;
  height: 23vh;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 6.5rem;
  right: 8rem;
  transform: translateY(-50%);
}

footer .footer-down .follow h4 {
  color: #242426;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  font-family: sans-serif;
}

footer .footer-down .follow a {
  text-decoration: none;
  margin-left: 3.125rem;
}

footer .footer-down .follow a i {
  font-size: 1.875rem;
  color: #888888;
}

footer .footer-down .follow a i.fa-facebook-square:hover {
  color: #424242;
  /* color: #3b5998; */
}

footer .footer-down .follow a i.fa-instagram:hover {
  /* background: -webkit-gradient(linear, left bottom, left top, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b));
  background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
  background: -webkit-linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  color: #424242;
}

/*# sourceMappingURL=index.css.map */