@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main #news-header {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

main #news-header .nav {
  width: 100%;
  height: 130.4px;
}

main #news-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 130.4px);
}

main #news-header .container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 9.5rem;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 16rem;
  font-style: italic;
  color: #242426;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

main #news-header .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

main #news-header .container .content .photo-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

main #news-header .container .content .photo-full .top {
  width: 272px;
}

main #news-header .container .content .photo-full .photo {
  width: 19vw;
  height: 100vh;
  background-image: url(../img/candle5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

main #news-header .container .content .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* padding: 8.5rem 11.375rem 0 0; */
  /* padding: 16rem 22rem 0 0; */
  padding: 12.5rem 12rem 0 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 0.1rem;
  color: #242426;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

main #news-header .container .content .description .numbers,
main #news-header .container .content .description .english {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
}

main #news-header .container .content .description span {
  margin-left: 2rem;
}

main #news-header .container .content .description span:nth-child(2) {
  margin-top: 3rem;
}

main #news-header .container .content .description span:nth-child(3) {
  margin-top: 5.375rem;
}

main #news-header .container .content .description span:nth-child(4) {
  margin-top: 8rem;
}

main #news-header .container .content .description span:nth-last-child(2) {
  margin-top: 11rem;
}

main #news-header .container .content .description .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  color: #242426;
}

main #news-header .container .content .description .scroll::after {
  content: '';
  display: inline-block;
  margin-top: 6px;
  height: 3.5rem;
  width: 1px;
  background-color: #242426;
}

main #news-header .container .scroll-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  color: #242426;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 0.1rem;
}

main #news-header .container .scroll-2::after {
  content: '';
  display: inline-block;
  margin-top: 6px;
  height: 3.5rem;
  width: 1px;
  background-color: #242426;
}

main #news-header .container .background-logo {
  width: 30vw;
  height: 21vh;
  background-image: url(../img/tingsLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 25rem;
  right: 18.75rem;
  opacity: 0.2;
}

main #news-content {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: sans-serif;
  margin-top: 10rem;
  color: #242426;
}

main #news-content .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main #news-content .news .title {
  padding: 0 150px 24px;
  font-size: 1.8rem;

}

main #news-content .news .date {
  padding-bottom: 48px;
  font-size: 1.125rem;
}

main #news-content .news .content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.125rem;
  text-align: center;
}

main #news-content .news .content p {
  padding: 0 120px 48px; 
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: none;
  display: flex;
  /* text-align: left; */
  text-align: justify;
}

main #news-content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  margin: 7rem 0 10rem 0;
  padding: 0px 10rem;
}

main #news-content .button a {
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
  color: #242426;
}

main #news-content .button a::after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
  /* position: absolute;
  top: 28px;
  left: -17.5px; */
}

/* main #news-content .button a:nth-child(2)::after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.1rem;
  width: 0;
  position: absolute;
  top: 28px;
  left: -35px;
} */

/* main #news-content .button a:nth-last-child(1)::after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.1rem;
  width: 0;
  position: absolute;
  top: 28px;
  left: -17.5px;
} */

main #news-content .button a:hover::after {
  width: 100%;
}

/*# sourceMappingURL=news-content.css.map */

@media (max-width:1600px) {

  main #news-header .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: stretch;
    flex-direction: column-reverse;
  }

  main #news-header .container h1 {
    padding-bottom: 0;
    margin-left: 1rem;
    font-size: 14rem;
  }

  main #news-header .container .content .description {
    position: absolute;
    top: 0;
    right: 300px;
  }

  main #news-header .container .content .description .scroll {
    display: none;
  }

  main #news-header .container .scroll-2 {
    display: inline-block;
    position: absolute;
    right: 24rem;
    font-size: 1.2rem;
  }
  
  main #news-header .container .scroll-2::after {
    content: '';
    display: inline-block;
    margin-top: 6px;
    height: 3.5rem;
    width: 1px;
    background-color: #242426;
  }

  main #news-header .container .background-logo {
    right: 16rem;
  }

  main #news-header .container .content .photo-full {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  main #news-header .container .content .photo-full .photo {
    width: 20vw;
  }

}

@media (max-width:1400px) {

  main #news-header .container .content .photo-full .photo {
    width: 22vw;
  }

}

@media (max-width:1200px) {

  main #news-header .container h1 {
    font-size: 12rem;
  }

  main #news-header .container .content .description {
    padding: 12.5rem 10rem 0 0;
    letter-spacing: 0.05rem;
    font-size: 1rem;
  }

  main #news-header .container .scroll-2 {
    right: 22rem;
    font-size: 1rem;
  }

  main #news-header .container .scroll-2::after {
    margin-top: 5px;
    height: 2.5rem;
  }

  main #news-header .container .background-logo {
    width: 35.5rem;
    height: 13.625rem;
    right: 13rem;
  }

  main #news-header .container .content .photo-full .photo {
    width: 25vw;
  }

}

@media (max-width:1100px) {

  main #news-header .container .scroll-2 {
    right: 21rem;
  }

  main #news-header .container .content .photo-full .photo {
    width: 27vw;
  }

}

@media (max-width:992px) {

  main #news-header .container h1 {
    font-size: 10rem;
  }

  main #news-header .container .scroll-2 {
    right: 20rem;
    font-size: 0.8rem;
  }

  main #news-header .container .scroll-2::after {
    margin-top: 5px;
  }

  main #news-header .container .content .photo-full .photo {
    width: 29vw;
  }

  main #news-content .news .title {
    padding: 0 120px 24px;
    font-size: 1.5rem;
  
  }

  main #news-content .news .date {
    font-size: 1rem;
  }
  
  main #news-content .news .content p {
    font-size: 1.2rem;
  }
  
  main #news-content .button a {
    font-size: 1rem;
  }

  main #news-content .button {
    padding: 0px 8rem;
  }
  

}

@media (max-width:880px) {

  main #news-header .container .content .description {
    padding: 12.5rem 5rem 0 0;
  }

  main #news-header .container .scroll-2 {
    right: 19rem;
    font-size: 0.8rem;
  }

  main #news-header .container .content .photo-full .photo {
    width: 32vw;
  }

  main #news-header .container .background-logo {
    width: 30.5rem;
    height: 12.625rem;
    right: 12rem;
  }

}

@media (max-width:800px) {

  main #news-header .container .content .description {
    padding: 12.5rem 0 0 0;
  }

  main #news-header .container .scroll-2 {
    display: none;
  }

  main #news-header .container .background-logo {
    width: 28.5rem;
    height: 11.625rem;
    right: 8rem;
  }

}

@media (max-width:768px) {

  main #news-header .container {
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh + 50vh);
  }

  main #news-header .container h1 {
    font-size: 9rem;
  }

  main #news-header .container .content .description {
    padding: 8rem 0 0 0;
    position: absolute;
    right: 25%;
  }

  main #news-header .container .scroll-2 {
    display: inline-block;
    right: 5rem;
    bottom: 35rem;
  }

  main #news-header .container .background-logo {
    top: 20rem;
  }

  main #news-header .container .content .photo-full .top {
    height: 120vh;
  }

  main #news-header .container .content .photo-full .photo {
    width: 100vw;
    height: 30vh;
    background-position: 20% 72%;
  }

}

@media (max-width:650px) {
  main #news-header .container h1 {
    font-size: 8rem;
  }

  main #news-header .container .background-logo {
    width: 24.5rem;
    height: 9.625rem;
    right: 4rem;
  }

  main #news-content .news .title {
    padding: 0 100px 24px;
    font-size: 1.2rem;
  
  }

  main #news-content .news .date {
    font-size: 0.8rem;
  }
  
  main #news-content .news .content p {
    padding: 0 100px 48px; 
    font-size: 1rem;
  }
  
  main #news-content .button a {
    font-size: 0.8rem;
  }

  main #news-content .button {
    padding: 0px 6rem;
  }
}

@media (max-width:545px) {

  main #news-header .container h1 {
    font-size: 7rem;
  }

  main #news-header .container .content .description {
    font-size: 0.8rem;
  }

  main #news-header .container .background-logo {
    right: 2rem;
  }

  main #news-header .container .scroll-2 {
    right: 3rem;
  }

  main #news-content .news .title {
    padding: 0 80px 24px;
  
  }

  main #news-content .news .content p {
    padding: 0 80px 48px; 
  }

  main #news-content .button {
    padding: 0px 5rem;
  }

}

@media (max-width:450px) {

  main #news-content .news .title {
    padding: 0 70px 24px;
  
  }

  main #news-content .news .content p {
    padding: 0 70px 48px; 
  }

}

@media (max-width:375px) {

  main #news-header .container h1 {
    font-size: 6rem;
  }

  main #news-header .container .content .description {
    font-size: 0.6rem;
  }

  main #news-header .container .background-logo {
    right: 0;
  }

  main #news-content .news .title {
    padding: 0 60px 24px;
  
  }

  main #news-content .news .content p {
    padding: 0 60px 48px; 
  }

  main #news-content .button {
    padding: 0px 4rem;
  }

}