@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main #news-header {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

main #news-header h1 {
  position: absolute;
  left: -0.5rem;
  bottom: 11rem;
  font-weight: 600;
  font-size: 16.625rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  color: #242426;
}

main #news-header .scroll {
  position: absolute;
  left: 1150px;
  bottom: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

main #news-header .scroll span::after {
  content: '';
  display: inline-block;
  margin-top: 7px;
  height: 60px;
  width: 1px;
  background-color: #222;
}

main #news-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100vh;
}

main #news-header .content .photo-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #news-header .content .photo-full .top {
  width: 272px;
}

main #news-header .content .photo-full .photo {
  width: 272px;
  height: 938px;
  background-image: url(../img/candle5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

main #news-header .content .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 274px 182px 0 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.1rem;
}

main #news-header .content .description span {
  margin-left: 2rem;
}

main #news-header .content .description span:nth-child(3) {
  margin-top: 4.375rem;
}

main #news-header .content .description span:nth-child(4) {
  margin-top: 9.875rem;
}

main #news-header .content .description span:nth-last-child(1) {
  margin-top: 13.25rem;
}

main #news-header .background-logo {
  width: 576px;
  height: 216.5px;
  background-image: url(../img/tingsLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 430px;
  right: 220px;
  opacity: 0.2;
}

main #news-list {
  width: 100vw;
  min-height: calc(100vh + 614.5824px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #news-list .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #news-list .news .news-item {
  width: 74rem;
  height: 11rem;
  padding: 40px 0;
  border-top: 0.1rem solid #242426;
}

main #news-list .news .news-item .date {
  padding-bottom: 0.6rem;
  font-size: 1.125rem;
  color: #999999;
}

main #news-list .news .news-item .title {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

main #news-list .news .news-item .title a {
  text-decoration: none;
  color: black;
}

main #news-list .news .news-item .content {
  font-size: 1.125rem;
}

main #news-list .news .news-item:nth-last-child(1) {
  border-bottom: 0.1rem solid #242426;
}

main #news-list .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0 130px;
}

main #news-list .button a {
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
}

main #news-list .button .btn1 {
  margin-right: 5rem;
}

main #news-list .button .btn2 {
  margin-right: 8.3rem;
}

main #news-list .button a::after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.1rem;
  width: 0;
  position: absolute;
  top: 28px;
  left: -17.5px;
}

main #news-list .button a:nth-last-child(1)::after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.1rem;
  width: 0;
  position: absolute;
  top: 28px;
  left: -70px;
}

main #news-list .button a:hover::after {
  width: 500%;
}
/*# sourceMappingURL=news-list.css.map */