* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  background: #fafafa;
}

.swiper-pagination ::v-deep,
.swiper-pagination-bullet {
  opacity: 1;
  border: #ffff solid 0.0625rem;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

#shop-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#shop-items .swiper {
  width: 50vw;
  height: 100vh;
}

#shop-items .swiper .swiper-slide {
  /* text-align: center;
  font-size: 1.125rem;
  background: #fff; */
}

#shop-items .swiper .swiper-slide {
  /* display: block; */
  width: 50vw;
  height: 100vh;
  /* width: 100%;
  height: 100%; */
  /* -o-object-fit: cover;
  object-fit: cover; */
  background-position: center;
  background-size: cover;
}

#shop-items .shop {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 13rem;
  font-family: "Cormorant Garamond", serif;
  color: #242426;
}

#shop-items .shop div {
  margin-left: 3rem;
}

#shop-items .shop div .shop-category {
  color: #242426;
  font-size: 1.2rem;
  letter-spacing: 0.0437rem;
}

#shop-items .shop div h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 500;
}

#shop-items .shop div h2 {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
}

#shop-items .shop div .shop-description {
  line-height: 1.7em;
  font-weight: 500;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

#shop-items .shop div .scents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

#shop-items .shop div .scents #scents {
  width: 11vw;
    height: 5.5vh;
    background: #242426;
    font-size: 1.2rem;
    color: #f7f7f7;
    border-radius: 7rem;
}

#shop-items .shop div .scents select {
  appearance: none;
  text-align: center;
}

#shop-items .shop div .price {
  font-size: 2rem;
  margin: 0rem 0rem 4rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.125rem;
}

#shop-items .shop div button {
  background: #242426;
  display: inline-block;
  padding: 0.9375rem 1.5625rem;
  border-radius: 7rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0.3125rem 1.25rem rgba(61, 61, 61, 0.05);
  box-shadow: 0 0.3125rem 1.25rem rgba(61, 61, 61, 0.05);
  color: #f7f7f7;
  font-size: 1.3rem;
  width: 100%;
  padding: 1.875rem;
  cursor: pointer;
}

#shop-items .shop div button:hover {
  letter-spacing: 0.1875rem;
}

#shop-items .shop div button i {
  margin-left: 1rem;
}

#shop-items .img-middle {
  width: 20vw;
  height: 20vw;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  border-radius: 0.125rem;
  /* -webkit-transition: 5s;
  transition: 5s;
  -webkit-transition-timing-function: cubic-bezier(0.48, 0.18, 0.47, 1);
  transition-timing-function: cubic-bezier(0.48, 0.18, 0.47, 1); */
}

#about {
  width: 100vw;
  height: 100vh;
  font-family: "Cormorant Garamond", serif;
  color: #242426;
}

#about .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: sans-serif;
  margin-top: 13rem;
  margin-bottom: 9rem;
  color: #242426;
}

#about .tags .tag {
  padding: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#about .tags .tag.active:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

#about .tags .tag.active:hover:after {
  width: 100%;
}

#about .contents .content {
  padding-left: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .contents .content .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25.25vh;
  margin-top: 13rem;
  width: 22%;
  position: relative;
}

#about .contents .content .content-title::before {
  content: "";
  height: 100%;
  border-left: 0.0625rem solid #242426;
  margin-right: 4rem;
}

#about .contents .content .content-title .content-title-sub {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-size: 1.5rem;
  letter-spacing: 0.3125rem;
  margin-right: 1.5rem;
}

#about .contents .content .content-title .content-title-main {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

#about .contents .content .content-items {
  position: relative;
  width: 78%;
}

#about .contents .content .content-items .content-item {
  width: 100%;
  height: 50vh;
  /* background-color: #e2dbdb; */
  background: #dddede;
  font-family: "Cormorant Garamond", serif;
  color: #242426;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 0.1875rem;
  padding: 6rem;
  font-weight: 300;
}

#about .contents .content .content-items .content-item .content-01 {
  letter-spacing: 0.25rem;
  line-height: 2.3rem;
}

#about .contents .content .content-items .content-item .content-04 .card {
  width: 60vw;
  height: 13vh;
  border-bottom: 0.0625rem solid #242426;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about .contents .content .content-items .content-item .content-04 .card:last-child {
  border-bottom: none;
}

#about .contents .content .content-items .content-item .content-04 .card img {
  width: 4.375rem;
  height: 4.375rem;
  margin: 0rem 3rem;
  border-radius: 50%;
  border: 0.0625rem solid black;
  overflow: hidden;
}

#about .contents .content .content-items .content-item .content-04 .card div h3 {
  font-weight: 100;
  font-size: 1.6rem;
}

.contents.active {
  display: block;
}

.contents {
  display: none;
}

/*# sourceMappingURL=shop.css.map */