@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background: #e7e7e7;
  width: 100vw;
  min-height: 100vh;
}

#shop-list {
  position: relative;
}

main .section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10.25rem 0 0 6.25rem;

}

main .title {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  padding: 6.25rem;
  letter-spacing: 0.1rem;
  color: #242426;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
}

main .title span {
  font-size: 1rem;
}

main .title .english {
  font-size: 3rem;
}

main .banner {
  width: 52rem;
  height: 32rem;
  background-image: url(/img/candle-products.jpeg);
  background-position: center;
  background-size: cover;
}

main .small-img {
  width: 19.75rem;
  height: 15.75rem;
  background-image: url(/img/pumpkin.jpeg);
  background-position: center;
  background-size: cover;
  /* position: absolute;
  left: 33%;
  bottom: 59%; */
}

main .shop .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  margin-top: 14rem;
  margin-bottom: 4rem;
  padding: 0.625rem 6.25rem;
}

main .shop .tabs a {
  text-decoration: none;
  color: #242426;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0313rem;
  font-size: 1rem;
}

main .shop .tabs .tab {
  margin-left: 4rem;
}

main .shop .tabs .tab:after {
  content: "";
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #424242;
  display: block;
  height: 0.0625rem;
  width: 0;
}

main .shop .tabs .tab:hover:after {
  width: 100%;
}

main .shop .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 6.25rem;
}

main .shop .cards .card {
  margin-bottom: 4rem;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.0313rem;
  color: #242426;
}

main .shop .cards .card .img {
  width: 18.3125rem;
  height: 18.3125rem;
  background-position: center;
  background-size: cover;
  /* -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.75rem; */
}

main .shop .cards .card .text-muted {
  color: #999999;
  font-size: 1rem;
  margin-top: 1rem;
}

main .shop .cards .card .product-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

main .shop .cards .card .product-title:hover {
  color: #424242;
}

main .shop .cards .card .description {
  font-size: 1rem;
  color: #424242;
}

main .shop .cards .card .fee-and-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
}

main .shop .cards .card .fee-and-cart span {
  font-size: 1.3rem;
}

main .shop .cards .card .fee-and-cart i {
  font-size: 1rem;
}

main .shop .cards .card .fee-and-cart i {
  cursor: pointer;
}

main .shop .cards .card .fee-and-cart i:hover {
  color: #424242;
}

/*# sourceMappingURL=shop-list.css.map */